.Sponsor-Button-container{
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}

.Sponsor-Button {
  margin-top: 10vh;
  padding: 20px;
  background-color: #3dae2b;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}


