.hero-section {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(201, 189, 189, 0.5);
  padding-top: 3em;
  margin: 0 5%;
  margin: 0 auto;
}

.Row-Header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: -100px;
  padding: 5px;
}

.hero-section h1 {
  color: black;
}
.hero-section p {
  color: black;
}

.Home-Button:hover {
  background-color: lightblue;
}
.Home-Button a {
  text-decoration: none;
  color: white;
}
.Home-Button {
  background-color: #00539F;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
}

