.img-home-wrapper img {
  border: 5px solid black;
}


.Contact-Container-Row{
display: flex-start;
flex-direction: column;
margin-top: -480px;

}
  

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.Row-Header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: -100px;
  padding: 5px;
 
}
.about-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 95%;
  height: 100%;
  margin: 20px;
  padding: 5px;
}

/* .Banner-About{
  position: relative;
  top: -360px;
} */
.Hero-Content{
  display: flex-start;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 95%;
  height: 100%;
  margin-top: -100px;
  padding: 5px;
}
 .Hero-Image{
   position: relative;
   top: -260px;
 left: 20px;
 width: 1250px;
 height: 250px;
 
 }

 




