
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.Login-Title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
}
.footer {
  position: fixed;
  margin-top: auto;
  display: flex;
  color:black;
  justify-content: center;
  align-items: center;
  background-color: rgba(194, 192, 192, 0.671);
  width: 50%;
  height: 400px;
  position: relative;
}
.container-section {
  padding: 20px;
  margin: 20px auto; 
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(194, 192, 192, 0.671);
  width: 50%;
  height: 400px;
  position: relative;
}
.Login-Button{
  background-color: #00539F;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
}
.Login-Button:hover{
  background-color: #222160;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
}
.signup-or-login {
  margin: 0 5px;
}

.guestButton {
  margin: 0 5px;
}

.signup-header{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;
  right: 260px;
  bottom: 25%;;
}
.prompt-overlay{
  font-size: small;
  display: flex;
  color: black;

}
.username-input-login{
  
 width: 250px;
  padding: 10px 20px;
  margin: 10px 0;
}
.password-input-login{
  width: 250px;
  padding: 10px 20px;
  margin: 10px 0;
}
@media only screen and (min-width: 1600px) {
  .container-section {
    padding: 20px;
    margin: 20px auto; 
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50%;
    height: 430px;
    position: relative;
  
  }

  .signup-header {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
    right: 340px;
    bottom: 30%;
  }
}
@media only screen and (max-width: 599px) {
  .username-input-login{
  
    width: 100px;
     padding: 10px 20px;
     margin: 10px 0;
   }
   .password-input-login{
     width: 100px;
     padding: 10px 20px;
     margin: 10px 0;
   }
}