.auth-wrapper {
  background: url(https://cdn.discordapp.com/attachments/1212430185652162620/1260383208885981245/66aa3c5f-aca4-43b6-82b8-69aa221b4edc.png?ex=668f1ed5&is=668dcd55&hm=66b4bc277eb4f77ba978ec30676ea72dddbf9d79426322547d12d0aa7040b0fd&) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.Login-Title{
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
}
.container-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(194, 192, 192, 0.5); /* Adjust the opacity here */
  width: 100%;
  height: 100%;
  position: relative;
}
.Ternary-Button{
  background-color: #00539F;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
}
.Ternary-Button:hover{
  background-color: lightblue;
  transition: all 0.2s ease-in-out;
}
.signup-or-login {
  background-color: #00539F;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
}
.signup-or-login:hover{
  background-color: lightblue;
  transition: all 0.2s ease-in-out;
}

.guestButton {
  background-color: #00539F;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
}
.guestButton:hover{
  background-color: lightblue;
  transition: all 0.2s ease-in-out;
}

.signup-header{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;
  right: 260px;
  bottom: 25%;
}
.prompt-overlay {
  font-size: small;
  display: flex;
  color: black;
}
.username-input-login {
  width: 250px;
  padding: 10px 20px;
  margin: 10px 0;
}
.password-input-login {
  width: 250px;
  padding: 10px 20px;
  margin: 10px 0;
}
.username-input-signup{
  width: 250px;
  padding: 10px 20px;
  margin: 10px 0;
}
.password-input-signup{
  width: 250px;
  padding: 10px 20px;
  margin: 10px 0;
}

.ternary-text{
  font-size: small;
  display: flex;
  color: black;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .container-section {
    padding: 20px;
    margin: 20px auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(194, 192, 192, 0.7); 
    width: 90%;
    height: 430px;
    position: relative;
  }
}

