.img-home-wrapper img {
  border: 5px solid black;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;


}
.footer {
  position: fixed;
  margin-top: auto;
  display: flex;
  color:black;
  justify-content: center;
  font-size: 30px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

