.security-image {
  width: 25%;
  border-radius: 50%;
  margin: 0 auto;
}

.bus-image {
  width: 25%;
  border-radius: 50%;
  margin: 0 auto;
}

.image-container {
  display: flex;
}

.contact-image {
  display: flex;
  width: 25%;
  border-radius: 50%;
  margin: 0 auto;
  padding-top: 9em;
}

.contact-content {
  background-color: rgba(201, 189, 189, 0.5);
  padding-bottom: 11em;
}
.contact-content p {
  display: flex;
  justify-content: center;
  padding: 1.1em;
  font-size: 1.5rem;
  padding-top: 2em;
}
.contact-button {
  color: #551a8b;
  display: flex;
  font-size: 1.2rem;
  margin: 0 auto;
}

.contact-button:hover {
  background-color: #551a8b;
  color: #ffff;
}

@media screen and (max-width: 599px) {
  .contact-container {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
  }
  .contact-content {
    /* width: 40vh; */
    /* height: 80vh; */
    /* padding-top: 1em; */
    /* margin-top: 1em; */
  }
  .contact-content {
    /* width: 40vh; */
    /* height: 44vh; */
    /* padding-top: 1em; */
    /* margin-top: 1em; */
  }
  .contact-content p {
    /* padding: 1em; */

    /* font-size: 1rem; */
  }
  .contact-button {
    /* font-size: 1rem; */
    /* margin: 0 auto; */
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  .contact-container {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
  }
  .contact-content {
    /* width: 50vh; */
    /* height: 42vh; */
    /* padding-top: 1em; */
    /* margin-top: 1em; */
  }
  .contact-content p {
    /* padding: 1em; */

    /* font-size: 1rem; */
    /* margin-bottom: 40px; */
  }
  .contact-button {
    /* font-size: 1rem; */
    /* margin: 0 auto; */
  }
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
  .contact-content {
    /* width: 70vh; */
    /* height: 41vh; */
    /* padding-top: 1em; */
  }
  .contact-content p {
    /* padding: 1em; */
  }
  .contact-button {
    /* font-size: 1rem; */
  }
}

