/* Footer.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  /* I added this, flex: 1 tells it to grow and take up all available space in the vertical direction, pushing the footer to the bottom, .content parent is #root */
  .content {
    flex: 1;
  }
  
  .footer {
    border-top: 4px solid green;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    margin-top: auto; 
    /* I added this to push the footer to the bottom, it consumes all available vertical space */
    /* z-index: 100000; */
  }
  
  .footer p {
    margin: 0.5rem 0;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
  }
  
  .footer-links li {
    display: inline;
    margin: 0 1rem;
  }
  
  .footer-links a {
    color: #00bfff;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }