.lorem-text{
text-wrap: wrap;
position: relative;
width: 33%;
}

.sponsor-form-container{
    margin: 0 auto;
     display: inline-flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: rgba(201, 189, 189, 0.5);
     position: relative;
     text-wrap: wrap;
     
}
.New-Sponsor{
    color: white;
}
.Sponsor-Time{
    color: black;
    font-size: 20px;
    font-weight: 900;
}
.NameInput-sponsor{
    margin: 10px;
    width: 150px;
    height: 25px;   
}
.labels{
  display:flex;
  justify-content: center;

}
.locationLabel-sponsor{
    margin: 10px;
    width: 150px;
    height: 25px;
}
.Register-buttons{
  display:flex;
  align-self: center;
  align-items: center;
  margin-left: 200px;
}
.ternary-button{
    margin: 10px;
    width: 150px;
    height: 25px;
    border-radius: 2px;
    background-color: #3DAE2B;
    color: white;
    font-weight: 800;
    align-items: center;
    align-self: center;
}
@media only screen and (min-width: 299px) and (max-width: 863px){
    body{
      padding: 0px;
      margin: 0px;
    }
    .navList {
      flex-direction: row; /* Arrange items vertically */
      font-weight: 900;
     font-size: .60rem;
     justify-content: center;
     text-align: center;
     width: 30%;
    }
    .New-Sponsor{
        color: white;
    }
}
@media only screen and (min-width: 900px) and (max-width: 1199px) {
   .navList {
      flex-direction: row; /* Arrange items vertically */
      font-weight: 900;
     font-size: 1rem;
    }

    .sponsor-pic{
position: relative;
left:300px;
bottom: 220px;
    }

}

.New-Sponsor{
    width: 100%;
    display: flex;
    font-size: 50px;
    color: white;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;


}
