.nav-wrapper {
  background-color: #3dae2b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
}

.nav-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
}

.nav-name {  
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
}

@media screen and (max-width: 899px) {
  .nav-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .nav-name {
    width: 100%;
    text-align: center;
  }
}
